.sr{
    width:0;
    height:0;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none;
}
.timeline {
    margin: 0;
    padding: 1rem 2rem 1rem 0;
    list-style: none outside;
    overflow: auto;
    position: absolute;
    top: 0;
    left: calc(25% + 3rem);
}
.timeline a {
    color: #48b1bf;
}
.timeline a:hover{
    color:#2592a0;
}
.timeline:before {
    content: " ";
    display: block;
    border-left: 2px dotted #fff;
    height: 120vh;
    width: 2px;
    position: fixed;
    top: 0;
    left: calc(25% + 4rem);
}
.item-card {
    background-color: #fff;
    border-radius: 0.25rem;
    padding: 1rem;
    position: relative;
    margin: 0 0 1.5rem 3rem;
}
.item-card:before {
    content: " ";
    color: #fff;
    position: absolute;
    top: 1rem;
    left: -0.5rem;
    height: 0;
    overflow: hidden;
    border-top:0.5rem solid transparent;
    border-bottom: 0.5rem solid transparent;
    border-right:0.5rem solid #fff;
}
.item-card:last-child {
    margin-bottom: 0;
}
.item-source {
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
    left: calc(-3rem + 1px);
    top: 0.5rem;
    background-color: #fff;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    font-size: 1rem;
    line-height: 2rem;
    text-align: center;
}
.item-title {
    width: calc(100% - 5rem);
    display: inline;
    margin: 0 1rem 0 0;
}
.item-date {
    color: rgba(0,0,0,0.5);
    font-size: 0.75rem;
    display: inline-block;
    margin-top: 0;
}
.item-description{
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}
.fa-medium {
    color: #13C05D;
}
.fa-behance{
    color:#0052FF;
}
.fa-github{
    color: #ffbb00;
}
.fa-github:before {
    content: "\f113" !important;
}
@media (max-width: 767px) {
    .timeline{
        position: relative;
        top:auto;
        left: auto;
        overflow: visible;
        padding: 1rem 1rem 1rem 0;
    }
    .timeline:before {
        left: 2rem;
    }
    .item-card{
        margin:0 0 1.5rem 4rem;
    }
    .item-source{
        left: calc(-3rem + 1px);
    }
}
